<div id="at_footer">
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="at_block">
				<div class="copyright">
					&copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a>
				</div>
				<br />
				<div class="poweredby">
					Propulsé par <a class="icon-ghost" href="http://ghost.org" target="_blank">Ghost</a><br />
					Thème basé sur <a href="https://github.com/axiantheme/ghostion" target="_blank">Ghostion</a>
				</div>
				<br />
				<div class="cc">
					<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
						<img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
					</a>
					<br />
					<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{@blog.title}}</span> de
					<a xmlns:cc="http://creativecommons.org/ns#" href="{{@blog.url}}" property="cc:attributionName" rel="cc:attributionURL">Gta-Cool</a>
					est mis à disposition selon les termes de la<br />
					<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">licence Creative Commons Attribution -  Partage dans les Mêmes Conditions 4.0 International</a>.
				</div>
			</div>
		</div>
	</div>
</div>